.vh-100 {
    height: 100vh;
}

.fr {
    float: right;
}

.fr+.fr {
    margin-right: 10px;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.wd100 {
    width: 100% !important;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.el-card[disabled] *,
ul[disabled] * {
    pointer-events: none;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
    cursor: not-allowed;
}